# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Output data
output/

# OS or editor files
.DS_Store
*.swp
